@import '~office-ui-fabric-react/dist/sass/References.scss';

.container{
    width: 100%;
}
  
.progressBar{
    counter-reset: step;
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: 16.66%;
    position: relative;
    text-align: center;
}

.progressBar li:before {
    content: "✓ ";
    cursor: pointer;
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
    border-width: 3px;
    z-index: 100 !important;
    position: relative !important;
} 

.progressBar li:after {
    content: '';
    position: absolute; 
    width: 100%; 
    height: 3px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: 99;
}

.progressBar li:first-child:after{
    content: none;
}

.progressBar li.enabled {
    color: #36AECE;
} 

.progressBar li.enabled:before  {
    border-color: #36AECE; 
}

.progressBar li.enabled + li:after {
    background-color:#36AECE;
}
